footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	text-align: center;
	height: 60px;
	background-color: $theme-blue;

	@media (min-width: $breakpoint-tablet) {
		text-align: right;
	}

	a {
		&.go-up {
			color: #FFF;
			font-size: 12px;
			font-weight: 700;
			line-height: 16px;
			letter-spacing: 0.05em;
			text-align: center;
			background-color: $theme-grey;
			padding: 5px 18px;
			float: left;
			margin: 17px 16px;
		}
	}

	.powered-by {
		img {
			float: right;
			margin: 32px 15px 9px;
		}
	}
}
