body {
	padding-top: 60px;

	header {
		background-color: $theme-blue;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0 15px;
		z-index: 1;
		height: 60px;
		color: #FFF;

		.oit-logo {
			display: inline-block;
			float: left;
			margin: 15px 0;
			margin-right: 11px;
			width: 87px;
		}

		h1 {
			font-family: Noto Sans;
			font-size: 12px;
			font-style: normal;
			font-weight: 700;
			line-height: 16px;
			letter-spacing: 0em;
			text-align: center;
			margin-bottom: 0;
			width: 120px;
			margin: 15px 9px 9px 30px;
			display: inline-block;
		}

		#main-nav {
			height: 60px;
			margin-left: 334px;

			ul {
				list-style-type: none;
				margin: 0;

				.trabajo-y-seguridad {
					padding-left: 0;
				}

				> li {
					display: inline-block;
					padding: 25px;
					vertical-align: top;
					position: relative;
					cursor: context-menu;
					font-size: 16px;

					a {
						font-size: 16px;
						color: #FFF;
					}

					&.home {
						position: absolute;
						left: 0;
						padding: 18px 25px;

						a {
							font-size: 30px;
							text-transform: uppercase;
						}
					}
				}
			}
		}
	}

	.hamburger-button {
		position: absolute;
		cursor: pointer;
		background: transparent;
		border: 0;
		outline: 0;
		width: 36px;
		padding: 0;
		top: 19px;
		right: 26px;

	}

	#hamburger-menu {
		position: fixed;
		background-color: $theme-grey;
		border: solid 3px #FFFFFF;
		left: 0;
		top: 0;
		min-height: 100%;
		width: 100%;
		overflow: auto;
		transform: translateX(100%);
		-webkit-transform: translateX(100%);
		z-index: 2;

		ul {
			list-style-type: none;
			margin: 0;

			li {
				padding: 0 15px;

				&:first-child {
					text-transform: uppercase;
					margin-bottom: 30px;
				}

				&:not(:first-child):not(:last-child) {
					border-bottom: solid 2px #FFFFFF;
				}

				a {
					line-height: 66px;
					font-size: 24px;
					font-family: Noto Sans;
					display: block;
				}
			}
		}
	}

	&.hamburger-menu-open {
		overflow: hidden;

		#hamburger-menu {
			animation: slide-in 0.5s forwards;
			-webkit-animation: slide-in 0.5s forwards;
		}

		.hamburger-button {
			top: 17px;
			width: 34px;
		}
	}

	&.hamburger-menu-closed {
		#hamburger-menu {
			animation: slide-out 0.5s forwards;
			-webkit-animation: slide-out 0.5s forwards;
		}
	}
	@media (min-width: $breakpoint-desktop) {
		padding-top: 109px;

		header {
			height: 109px;

			.oit-logo {
				margin: 18px 81px;
				margin-right: 134px;
				width: 203px;
			}

			h1 {
				margin: 0;
				margin-top: 14px;
				font-size: 24px;
				line-height: 33px;
				text-align: left;
				margin-bottom: 0;
				width: auto;
			}
		}
	}
}
