body {
	padding-top: 60px;

	.icon-hamburger {
		display: block;
	}
	.icon-hamburger-close {
		display: none;
	}

	&.hamburger-menu-active {
		overflow: hidden;

		.icon-hamburger-close {
			display: block;
		}
		.icon-hamburger {
			display: none;
		}
		header {
			#main-nav {
				width: 100%;
				height: 100%;
				position: fixed;
				right: 0;
				top: 60px;
				background: #FFF;
				font-size: 24px;
				font-weight: 700;

				ul {
					li {
						width: 100%;
						text-align: right;

						img {
							display: revert;
							margin-right: 10px;
						}

						a {
							font-size: 24px;
							font-weight: 700;
							line-height: 33px;
							text-align: right;
							color: $theme-grey;
						}
					}
				}
			}
		}
	}
	#hamburger-button {
		background: transparent;
		border: none;
		position: absolute;
		right: 11px;
		top: 15px;
		min-height: 26px;
		width: 36px;
		z-index: 2;
		outline: 0;
	}

header {
	background-color: $theme-blue;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 15px;
	z-index: 1;
	height: 60px;
	color: #FFF;

	.oit-logo {
		display: inline-block;
		float: left;
		margin: 15px 0;
		margin-right: 11px;
		width: 87px;
	}

	h1 {
		font-family: Noto Sans;
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: 16px;
		letter-spacing: 0em;
		text-align: center;
		margin-bottom: 0;
		width: 120px;
		margin: 15px 9px 9px 30px;
		display: inline-block;
	}

	#main-nav {
		height: 60px;
		margin-left: 334px;

		ul {
			list-style-type: none;
			margin: 0;

			.trabajo-y-seguridad {
				padding-left: 0;
			}

			> li {
				display: inline-block;
				padding: 25px;
				vertical-align: top;
				position: relative;
				cursor: pointer;
				font-size: 16px;

				img {
					display: none;
				}

				a {
					font-size: 16px;
					color: #FFF;
				}
			}
		}
	}
}

@media (min-width: $breakpoint-desktop) {
	padding-top: 109px;

	#hamburger-button {
		display: none;
	}
	header {
		height: 109px;

		.oit-logo {
			margin: 18px 81px;
			margin-right: 134px;
			width: 203px;
		}

		h1 {
			margin: 0;
			margin-top: 14px;
			font-size: 24px;
			line-height: 33px;
			text-align: left;
			margin-bottom: 0;
			width: auto;
		}
	}
}
}
