body {
	padding-top: 60px;

	@media (min-width: $breakpoint-desktop) {
		padding-top: 85px;
	}

	header {
		backdrop-filter: blur(20px);

		@supports not (backdrop-filter: blur(20px)) {
			background-image: url("img/fondo-acuarela-libros.jpg");
			background-position: bottom;
		}

		border-bottom: solid 1px $theme-white;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0 15px;
		z-index: 1;

		#main-nav {
			width: 100%;
			position: relative;
			height: 70px;
			max-width: 1200px;
			margin: 0 auto;

			ul {
				list-style-type: none;
				float: right;
				margin: 0;

				> li {
					display: inline-block;
					padding: 25px;
					vertical-align: top;
					/*max-height: 70px;
					overflow: hidden;*/
					position: relative;
					cursor: context-menu;
					font-size: 16px;

					&.language {
						color: $theme-white;
					}

					a {
						font-size: 16px;
					}

					&.home {
						position: absolute;
						left: 0;
						padding: 18px 25px;

						a {
							font-size: 30px;
							text-transform: uppercase;
						}
					}

					ul.sub-menu {
						padding: 8px 0;
						position: absolute;
						margin-top: 20px;
						display: none;
						background-color: $theme-grey-2;
						max-height: none;

						li {
							display: block;
							padding: 6px 12px;
						}
					}

					&:hover {
						ul.sub-menu {
							display: block;
						}
					}
				}
			}
		}

		h3 {
			margin: 0;
			display: none;
			line-height: 60px;
			text-transform: uppercase;
		}
	}

	.hamburger-button {
		position: absolute;
		cursor: pointer;
		background: transparent;
		border: 0;
		outline: 0;
		width: 36px;
		padding: 0;
		top: 22px;
		right: 27px;
	}

	#hamburger-menu {
		position: fixed;
		background-color: $theme-grey;
		border: solid 3px $theme-white;
		left: 0;
		top: 0;
		min-height: 100%;
		width: 100%;
		overflow: auto;
		transform: translateX(100%);
		-webkit-transform: translateX(100%);
		z-index: 2;

		ul {
			list-style-type: none;
			margin: 0;

			li {
				padding: 0 15px;

				&:first-child {
					text-transform: uppercase;
					margin-bottom: 30px;
				}

				&:not(:first-child):not(:last-child) {
					border-bottom: solid 2px $theme-white;
				}

				a {
					line-height: 66px;
					font-size: 24px;
					font-family: "Alatsi";
					display: block;
				}
			}
		}
	}

	&.hamburger-menu-open {
		overflow: hidden;

		#hamburger-menu {
			animation: slide-in 0.5s forwards;
			-webkit-animation: slide-in 0.5s forwards;
		}

		.hamburger-button {
			top: 17px;
			width: 34px;
		}
	}

	&.hamburger-menu-closed {
		#hamburger-menu {
			animation: slide-out 0.5s forwards;
			-webkit-animation: slide-out 0.5s forwards;
		}
	}

	&.home {
		header {
			h3.home {
				display: block;
			}
		}
	}

	&.bio {
		li.bio > a {
			border: solid 1px #fff;
			padding: 3px 20px;
		}

		header {
			h3.bio {
				display: block;
			}
		}
	}

	&.libros {
		li.publicaciones > span {
			border: solid 1px #fff;
			padding: 3px 20px;
		}

		header {
			h3.libros {
				display: block;
			}
		}
	}

	&.compilaciones {
		li.publicaciones > span {
			border: solid 1px #fff;
			padding: 3px 20px;
		}

		header {
			h3.compilaciones {
				display: block;
			}
		}
	}

	&.workshops {
		li.workshops > a {
			border: solid 1px #fff;
			padding: 3px 20px;
		}

		header {
			h3.workshops {
				display: block;
			}
		}
	}

	&.colaboraciones {
		li.colaboraciones > a {
			border: solid 1px #fff;
			padding: 3px 20px;
		}

		header {
			h3.colaboraciones {
				display: block;
			}
		}
	}

	&.contacto {
		li.contacto > a {
			border: solid 1px #fff;
			padding: 3px 20px;
		}

		header {
			h3.contacto {
				display: block;
			}
		}
	}
}
