/**
 * Main Styles for site.
 */

// sass main.scss ../style.min.css --style=compressed

$breakpoint-tablet: 860px;
$breakpoint-desktop: 1040px;

$theme-blue: #1E2DBE;
$theme-blue-2: #3F4BBF;
$theme-red: #FA3C4B;
$theme-red-2: #E66D76;
$theme-pink: #D15FB8;
$theme-pink-2: #CC83BC;
$theme-grey: #505050;

$img-directory: "img";

@import '_normalize';
@import '_fonts';
@import '_footer';
@import '_header';
@import '_style';
@import '_skeleton';
